.g
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.gg
{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}